@model Skateshop.Models.User

@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Logout</h1>

<h4>Are you sure you want to logout?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmLogout">
            <div class="form-group">
                <input type="submit" value="Logout" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
