@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Ronnie's Skateshop! This is the best skateshop of the world.</p>
    <img src="img/skateshop_logo.png" width="80%"/>
</div>
