@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This page was created for a school project and you can't actually buy products here :(</p>
<p>All the pictures and infos about products are from <a href="https://www.skatedeluxe.ch/">Skatedeluxe</a>.</p>
<p>You can see more details on <a href="https://github.com/noserronnie/skateshop">Git Hub</a>.</p>
